/* General Body and Typography Styles */
body {
    background: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background: #4287f5;
    text-shadow: 2px 2px #333333;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

p {
    font-family: sans-serif;
    color: black;
    font-size: 18px;
}

/* Image Styles */
img {
    width: 20%;
    height: auto;
    margin: 10px auto;
    display: block;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

#logo {
    width: 5%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Banner Section */
.banner {
    background: black;
    border-radius: 25px;
    padding: 20px;
    height: 75px;
}

.banner__content {
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner__text {
    font-family: 'Quicksand', monospace, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px grey;
    font-size: 35px;
    flex-grow: 1;
    line-height: 1.4;
}

.banner__close {
    background: none;
    border: none;
    cursor: pointer;
}

.banner__text, .banner__close > span {
    color: whitesmoke;
}

/* Container Styles */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* Menu Toggle Styling */
.menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu-toggle span {
    font-size: 24px;
    color: #0056b3;
}

/* Slideout Menu */
.slideout-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #333;
    padding: 60px 20px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
}

.slideout-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
}

.slideout-menu a:hover {
    color: #4287f5;
}

/* Link Styling */
a {
    color: #4287f5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    section {
        width: 90%;
    }

    img {
        width: 30%;
    }

    .menu-toggle {
        top: 10px;
        right: 10px;
    }

    #logo {
        width: 10%;
    }
}
